<!-- albums.component.html -->
<div class="container">
  <h2>Albums</h2>
  
  <div class="create-album">
    <h3>Create New Album</h3>
    <div class="form-group">
      <input type="text" placeholder="Album title" [(ngModel)]="newAlbum.title" class="form-control">
      <button (click)="createAlbum()" class="btn btn-primary">Create Album</button>
    </div>
  </div>

  <div class="albums-list">
    <div *ngFor="let album of albums" class="album-item">
      <div class="album-title">
        <a [routerLink]="['/albums', album.id]">{{ album.title }}</a>
      </div>
      <div class="album-actions">
        <button (click)="deleteAlbum(album.id)" class="btn btn-danger">Delete</button>
      </div>
    </div>
  </div>
</div>