<div class="about-container">
    <h1>About This Application</h1>
    
    <p>This Album App was created as part of Lab 6 to demonstrate Angular routing and HTTP module usage.</p>
    
    
    <div class="implementation">
      <h2>Implementation Details</h2>
      <p>The application implements CRUD operations on albums from the JSONPlaceholder API:</p>
      <ul>
        <li>Create - Adding new albums</li>
        <li>Read - Viewing albums and their details</li>
        <li>Update - Editing album titles</li>
        <li>Delete - Removing albums from the list</li>
      </ul>
    </div>
  </div>