<div class="home-container">
    <h1>Welcome to Album App</h1>
    <p>This application allows you to browse and manage albums from JSONPlaceholder API.</p>
    
    <div class="features">
      <h2>Features:</h2>
      <ul>
        <li>Browse all albums</li>
        <li>View album details</li>
        <li>Edit album titles</li>
        <li>Delete albums</li>
        <li>View photos in each album</li>
      </ul>
    </div>
    
    <div class="get-started">
      <h2>Get Started</h2>
      <p>Click on the Albums link in the navigation to start exploring!</p>
      <a routerLink="/albums" class="btn">Go to Albums</a>
    </div>
  </div>